@import url('/node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 23% 5%;
    --foreground: 210 25% 95%;
    --muted: 220 12% 15%;
    --muted-foreground: 220 12% 65%;
    --popover: 220 23% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 220 23% 3%;
    --card-foreground: 0 0% 100%;
    --border: 220 13% 10%;
    --input: 220 13% 13%;
    --primary: 210 25% 95%;
    --primary-foreground: 210 25% 35%;
    --secondary: 210 15% 25%;
    --secondary-foreground: 210 15% 85%;
    --accent: 220 23% 20%;
    --accent-foreground: 220 23% 80%;
    --destructive: 2 81% 55%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 25% 95%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 23% 5%;
    --foreground: 210 25% 95%;
    --muted: 220 12% 15%;
    --muted-foreground: 220 12% 65%;
    --popover: 220 23% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 220 23% 3%;
    --card-foreground: 0 0% 100%;
    --border: 220 13% 10%;
    --input: 220 13% 13%;
    --primary: 210 25% 95%;
    --primary-foreground: 210 25% 35%;
    --secondary: 210 15% 25%;
    --secondary-foreground: 210 15% 85%;
    --accent: 220 23% 20%;
    --accent-foreground: 220 23% 80%;
    --destructive: 2 81% 55%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 25% 95%;
  }
}
