@import 'tailwindcss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	color-scheme: dark;
	--background: var(--color-neutral-950);
	--foreground: var(--color-neutral-50);

	--background-muted: var(--color-neutral-600);
	--foreground-muted: var(--color-neutral-400);

	--primary: var(--color-indigo-600);
	--primary-muted: var(--color-indigo-700);
	--primary-highlight: var(--color-indigo-500);

	--card-background: var(--color-neutral-900);
	--card-background-light: var(--color-neutral-800);

	--border: var(--color-neutral-800);

	font-size: 1rem;
}

html {
	background-color: var(--background);
	color: var(--foreground);
}

input,
select,
textarea {
	border-radius: 0.25rem;
	background-color: var(--color-neutral-900);
	border-color: var(--color-neutral-500);
}

input:hover,
select:hover,
textarea:hover {
	background-color: var(--color-neutral-800);
}

input[type='checkbox'],
select {
	cursor: pointer;
}

input:disabled {
	opacity: 0.5;
}

input[type='checkbox'],
input[type='radio'] {
	height: 1.5rem;
	width: 1.5rem;
}

input[type='radio'] {
	border-radius: 100%;
}

button {
	cursor: pointer;
}

.btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	justify-content: center;
	transition: all 0.25s ease-in-out;
}

.btn-primary {
	background-color: var(--primary);
	color: var(--foreground);
}

.btn-primary:hover {
	background-color: var(--primary-highlight);
}

.btn-outline {
	border: 1px solid var(--foreground-muted);
}

.btn-outline:hover {
	border: 1px solid var(--foreground);
}

.btn-square {
	padding: 0.5rem 0.5rem;
}

.btn-ghost {
	border: none;
	color: var(--foreground);
}

.btn-ghost:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.timer {
	font-family: monospace;
}

.collapsible-header:hover,
.collapsible:has(.collapsible-header:hover) {
	border: 1px solid var(--color-neutral-500);
}

.collapsible-content {
	transition:
		height 0.25s ease-in-out,
		opacity 0.25s ease-in-out;
	overflow: clip;
	interpolate-size: allow-keywords;
	will-change: height, opacity;
}

.collapsible-content.closed {
	opacity: 0;
	height: 0;
}
